# Use Unix line endings in all text files.
* text=auto eol=lf

# Avoid merging lock files
/dist/            -diff
package-lock.json -diff
yarn.lock         -diff

# Exclude files from exporting
/.github/         export-ignore
/docs/            export-ignore
/examples/        export-ignore
/tests/           export-ignore
.c8rc             export-ignore
.gitattributes    export-ignore
.gitignore        export-ignore
.gitkeep          export-ignore
.nvmrc            export-ignore
package-lock.json export-ignore
yarn.lock         export-ignore
